app = "quiz-multiplayer"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "3000"

[[services]]
  internal_port = 3000
  protocol = "tcp"
  auto_start_machines = true
  auto_stop_machines = false

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
